/* .footer {
    position: relative;
    bottom: 0;
    width: 100%;

} */

/* Hero Banner */
.hero {
    height: 90vh;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(1px) brightness(80%);
}

.hero-text {
    /* z-index: 1; */
    position: relative;
    top: 25%;
}

.hero-text h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    animation: fadeInDown 1s;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
    color: #ffffff
}

/* .hero-text .btn {
    background-color: #ff523b;
    border: none;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    animation: fadeInUp 1s;
} */

/* Keyframes for animation */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Product Categories */
.categories {
    margin: 50px 0;
    width: 100%;
}

.categories .col-3 {
    /* padding: 15px; */
    transition: transform 0.5s;
}

.categories .col-3 img {
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.categories .col-3:hover {
    transform: scale(1.05);
}

/* Featured Products */
.title {
    text-align: center;
    /* margin-bottom: 20px; */
}

.row {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
}

.col-4 {
    flex-basis: 23%;
    padding: 10px;
    text-align: center;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4:hover {
    transform: translateY(-10px);
}

.rating i {
    color: #ff523b;
}

/* Promotional Banners */


.offer .row {
    display: flex;
    align-items: center;
}

.offer .col-2 {
    flex-basis: 50%;
    padding: 20px;
}

/* .offer-img {
    width: 100%;
    border-radius: 70px;
} */



/* Responsive styles */
@media only screen and (max-width: 768px) {
    .hero {
        height: 90vh;
    }

    .hero-text h1 {
        font-size: 2.5em;
    }

    .categories .row,
    .offer .row,
    .footer .row {
        flex-direction: column;
    }

    /* .navbar {
        flex-direction: column;
        align-items: flex-start;
    } */

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        /* text-align: left; */
        /* padding: 10px 0; */
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon:hover {
        opacity: 0.7;
    }

    .col-4 {
        flex-basis: 80%;
        margin: auto;
    }

}

.image_slider {
    top: 35%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.slider-wrapper {
    display: flex;
    width: calc(200%);
    animation: scroll 25s linear infinite;
}

.slider-wrapper img {
    width: 50vw;
    height: 350px;
    margin-right: 20px;
    border-radius: 10px;
    filter: brightness(60%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-128%);
    }
}