* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logout {
  display: none;
}
#orders {
  display: none;
}
#account {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #fff240;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  color: #000000;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #0061d9;
}

.row {
  display: flex;
  align-items: center;
  /* text-align: center; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #0061d9;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #00377a;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
}

.col-4 {
  height: 400px;
  flex-basis: 25%;
  padding: 10px;
  min-width: 270px;
  margin-bottom: 50px;
  text-align: center;
  transition: transform 0.5s;
}

.col-4 img {
  border-radius: 10px;
  width: 100%;
  height: 280px;
  transition: transform 0.2s;
  margin-bottom: 10px;
}
.col-4 img:hover {
  transform: scale(1.1);
}

.title {
  text-align: center;
  /* margin: 0 auto 80px; */
  position: relative;
  line-height: 60px;
  color: #000000;
}
.title::after {
  content: "";
  background: #0061d9;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #525252;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fas {
  color: #ffe234;
}

.rating .far {
  color: #ffe234;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* Offer */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
  border-radius: 70px;
}

small {
  color: #000000;
}

/* testimonial */

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 34px;
  color: #0061d9;
}

.col-3 p {
  font-size: 14px;
  margin: 12px 0;
  color: #777777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  width: 100%;
  cursor: pointer;
  filter: grayscale(0);
}

/* footer */

.footer {
  background: #0061d9;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #ffffff;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu */

@media only screen and (max-width: 800px) {
  button:hover {
    background-color: #0061d9 !important;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .col-4 img:hover {
    transform: none !important;
  }
  .col-4:hover {
    transform: none !important;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* all products page */

.row-2 {
  justify-content: space-between;
  /* margin: 100px auto 50px; */
}

select {
  border: 1px solid #0061d9;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #0061d9;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #0061d9;
  color: #ffffff;
}

/* single product details */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #0061d9;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #0061d9;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* cart items */

.cart-page {
  margin: 90px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #ffffff;
  background: #0061d9;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #0061d9;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
/* account page */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background: #ffffff;
  width: 300px;
  height: 300px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container1 {
  background: #ffffff;
  width: 300px;
  height: 500px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container1 form {
  width: 300px;
  padding: 0 20px;
  position: absolute;
  /* top: 90px; */
  transition: transform 1s;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #000000;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 90px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 12px;
}

/* #Indicator {
  width: 100px;
  border: none;
  background: #0061d9;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
} */

/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
    
  }
  .row-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  form{
    width: 80%;
    margin: auto;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 80%;
        margin: auto;
  }
  .filter {
    width: 80% !important;
    margin-top: 10px;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}

/* Add to Cart and Buy Now Button Styles */
button {
  background-color: #0061d9;
  color: white;
  border: none;
  padding: 10px 20px;
  /* margin: 5px 0; */
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  transition: background 0.5s;
}

button:hover {
  background-color: #00377a;
}

/* User Registration Form Styles */
#userRegistrationForm {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
  margin: 20px auto;
}

#userRegistrationForm label {
  display: block;
  margin: 10px 0 5px;
}

#userRegistrationForm input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
}
/* Cart Page Styles */
.cart-page {
  margin: 80px auto;
}

.cart-page table {
  width: 100%;
  border-collapse: collapse;
}

.cart-page table th,
.cart-page table td {
  border: 1px solid #5a5a5a;
  padding: 8px;
  text-align: center;
}

.cart-page table th {
  background-color: #5a5a5a;
}

.total-price {
  margin: 40px 0;
  text-align: right;
}

.total-price table {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.total-price table td {
  padding: 10px;
  font-size: 18px;
}

.total-price button {
  background-color: #0061d9;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.total-price button:hover {
  background-color: #0051b4;
}
/* Cart Page Styles */
.cart-page {
  margin: 80px auto;
}

.cart-page table {
  width: 100%;
  border-collapse: collapse;
}

.cart-page table th,
.cart-page table td {
  border: 1px solid #5a5a5a;
  padding: 8px;
  text-align: center;
}

.cart-page table th {
  background-color: #5a5a5a;
}

.total-price {
  margin: 40px 0;
  text-align: right;
}

.total-price table {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.total-price table td {
  padding: 10px;
  font-size: 18px;
}

.total-price button {
  background-color: #0061d9;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.total-price button:hover {
  background-color: #0051b4;
}

/* Checkout Page Styles */
.checkout-page {
  margin: 80px auto;
  width: 80%;
}

.checkout-page form {
  display: flex;
  flex-direction: column;
}

.checkout-page label {
  margin: 10px 0 5px;
}

.checkout-page input,
.checkout-page select {
  padding: 10px;
  margin: 5px 0 20px;
  font-size: 16px;
}

.checkout-page button {
  background-color: #0061d9;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-page button:hover {
  background-color: #0051b4;
}

/* Login/Register Page Styles */
.login-page {
  margin: 80px auto;
  /* width: 80%; */
}

.form-container {
  max-width: 400px;
  margin: auto;
}

.form-btn span {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
}

#Indicator {
  width: 100px;
  border: none;
  background-color: #0061d9;
  height: 3px;
  margin-top: 10px;
  transition: transform 0.5s;
}
#Indicator1 {
  width: 100%;
  border: none;
  background-color: #0061d9;
  height: 3px;
  margin-top: 10px;
  transition: transform 0.5s;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  margin: 5px 0 20px;
  font-size: 16px;
}

form button {
  background-color: #0061d9;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0051b4;
}
/* Order Confirmation Page Styles */
.order-confirmation-page {
  margin: 80px auto;
  width: 80%;
}

.order-confirmation-page h2 {
  text-align: center;
  margin-bottom: 40px;
}

.order-confirmation-page table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.order-confirmation-page table th,
.order-confirmation-page table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.order-confirmation-page table th {
  background-color: #f2f2f2;
}
/* Orders Page Styles */
.orders-page {
  margin: 80px auto;
  width: 80%;
}

.orders-page h2 {
  text-align: center;
  margin-bottom: 40px;
}

.order {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 40px;
}

.order table {
  width: 100%;
  border-collapse: collapse;
}

.order table th,
.order table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.order table th {
  background-color: #5a5a5a;
}
.cart-count {
  background-color: #fe0000;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  position: relative;
  top: -10px;
  left: -10px;
  font-size: 12px;
}

.cart-page table tr th {
  text-align: center;
  background-color: #5a5a5a;
}
.col-2 img {
  max-width: 100%;
  padding: 100px 90px;
}
.small-container1 {
  margin-top: 50px;
  /* margin-bottom: 100px; */
}
.material-symbols-outlined {
  padding-top: 5px;
  font-size: 38px;
}
.contact-info .social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #000000;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Contact Page Styles */
.contact-page {
  padding: 50px 0;
}

.contact-page .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
}

.contact-form {
  flex-basis: 45%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #0061d9;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.contact-info {
  flex-basis: 45%;
}

.contact-info h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .contact-page .row {
    flex-direction: column;
        margin: auto;
        width: 100%;
        place-items: center;
  }

  .contact-form,
  .contact-info {
    flex-basis: 100%;
  }
}

.container .navbar .logo a img {
  border-radius: 5px;
}
.filter {
  /* margin-top: 30px; */
  width: 20%;
  /* margin-left: auto; */
}
.filter input {
  border: 1px solid #0061d9;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  margin: 5px 0 20px;
  font-size: 12px;
}
.filter .filter-inputs button {
  width: 50%;
  padding: 5px;
  position: relative;
  top: -8px;
}
.sort {
  /* text-align: end; */
}
.main_all {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.fl_label_price {
  margin-top: 10px;
}
.filter-inputs {
  display: flex;
  /* justify-content: space-between; */
}
.sort_filter {
  display: contents;
}
.categories .small-container .row{
  justify-content: space-between;
}
#featured-products{
  margin-top: 50px;
}
.about-page{
  margin-top: 110px;
  margin-bottom: 140px;
}
#scroll_up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  /* padding: 5px; */
  display: none;
  /* border-radius: 10px; */
}
#scroll_up button {
  background-color: #000000 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  transition: background 0.5s;
}